@using RaceCorp.Common
@model RaceCorp.Web.ViewModels.Ride.RideProfileVIewModel

@{
    this.ViewData["Title"] = "Ride Profile";

    var currentUserIdClaim = this.User.FindFirst(ClaimTypes.NameIdentifier);
    string currentUserId = null;

    if (currentUserIdClaim != null)
    {
        currentUserId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@if (this.TempData.ContainsKey("Unregistered"))
{
    <div class="alert alert-success">@this.TempData["Unregistered"]</div>
}

@if (this.TempData.ContainsKey("Registered"))
{
    <div class="alert alert-success">@this.TempData["Registered"]</div>
}

<style>
    .resize {
        width: 100px;
        height: auto;
    }

    .img-img {
        border-radius: 40%;
    }
</style>


<ul class="nav">
    <li class="me-5">
        <h1>@Model.Name</h1>
        @if (Model.ApplicationUserId != null)
        {
            <div>
                Ride publisher : @Model.ApplicationUserFirstName @Model.ApplicationUserLastName
                <a asp-action="Profile" asp-controller="User" asp-area="" asp-route-id="@Model.ApplicationUserId">
                    <img class="resize img-img" src="@Model.ApplicationUserProfilePicturePath" />
                </a>
            </div>
        }

    </li>

    @if (Model.HasPassed)
    {
        <li>
            <button class="btn btn-outline-success disabled  me-2 mt-2">Event has passed! Try it next time!</button>
        </li>
    }
    else if (Model.IsRegistered)
    {
        <li class="me-2  mt-2">
            <form method="post"
              asp-controller="Registration" asp-action="UnregisterRide" asp-route-userId="@currentUserId" asp-route-id="@Model.Id" asp-route-eventType="@GlobalConstants.EventTypeRide">
                <button class="btn btn-outline-success mb-1 " type="submit">Unregister</button>
            </form>
        </li>
    }
    else if (Model.IsRegistered == false && currentUserId != null)
    {
        <li class="me-2 mt-2">
            <form method="post"
              asp-controller="Registration" asp-action="RegisterRide" asp-route-userId="@currentUserId" asp-route-id="@Model.Id" asp-route-eventType="@GlobalConstants.EventTypeRide">
                <button class="btn btn-outline-success mb-1" type="submit">Register</button>
            </form>
        </li>

    }
    <li class="me-2 mt-2">
        <form method="get">
            <button class="btn btn-outline-info mb-1 btn-block" asp-controller="Trace" asp-action="DownloadGpx" asp-route-id="@Model.TraceGpxId">Download Gpx file</button>
        </form>
    </li>
    @if (
    this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
    this.User.IsInRole(GlobalConstants.UserRoleName))
    {
        @if (Model.IsOwner || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="me-2 mt-2">
                <form method="get">
                    <button class="btn btn-outline-secondary mb-1 btn-block" asp-controller="Ride" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
                </form>
            </li>
            <li class="me-2 mt-2">
                <form method="post"
              asp-controller="Ride" asp-action="Delete" asp-route-id="@Model.Id">
                    <button class="btn btn-outline-success mb-1" type="submit">Delete</button>
                </form>
            </li>
        }
    }
</ul>
<div class="row mt-2">
    <div class="map-responsive col-md-5">
        <iframe src="@Model.TraceMapUrl"></iframe>
    </div>
    <div class="col-md-3">
        <div class="card-header">
            Overview
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Start time: @Model.StartTime</li>

            <li class="list-group-item">Difficulty: @Model.Difficulty</li>
            <li class="list-group-item">Length: @Model.Length km.</li>
            <li class="list-group-item">Control time: @Model.ControlTime h</li>
            <li class="list-group-item">Ride name: @Model.TraceName</li>
            <li class="list-group-item">Description: @Model.Description</li>
        </ul>
    </div>

    <div class="col-md-2">
        @if (Model.RegisteredUsers.Count() != 0)
        {
            <h6>Registered riders</h6>

            <div class="scrollable-ride">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <td scope="col">Racer</td>
                            <td scope="col">Team</td>
                            <td scope="col">Town</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            @foreach (var user in Model.RegisteredUsers)
                            {
                                user.ApplicationUserMemberInTeamName = user.ApplicationUserMemberInTeamName == null ? "none" : user.ApplicationUserMemberInTeamName;


                                <tr>
                                    <th scope="row">@(count += 1)</th>
                                    <td><a type="button" style="outline" class="btn btn-block" asp-area="" asp-action="Profile" asp-controller="User" asp-route-id="@user.ApplicationUserId">@user.ApplicationUserFirstName @user.ApplicationUserLastName</a></td>
                                    <td class="text-center">@user.ApplicationUserMemberInTeamName</td>
                                    <td class="text-center">@user.ApplicationUserTownName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>







