@using RaceCorp.Common
@model RaceCorp.Web.ViewModels.User.UserProfileViewModel;

@{
    var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

    var isOwner = false;
    if (currentUserId != null)
    {
        isOwner = currentUserId == Model.Id;
    }

    var hasTeam = Model.TeamId != null;

}



@if (this.TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@this.TempData["ErrorMessage"]</div>
}

@if (this.TempData.ContainsKey("Connect"))
{
    <div class="alert alert-success">@this.TempData["Connect"]</div>
}

@if (this.TempData.ContainsKey("Disconnect"))
{
    <div class="alert alert-danger">@this.TempData["Disconnect"]</div>
}

<style>
    .avatar.avatar-xl {
        width: 15rem;
        height: 15rem;
    }

    .avatar {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 50%;
        display: inline-block;
        background: #ced4da no-repeat center/cover;
        position: relative;
        text-align: center;
        color: #868e96;
        font-weight: 600;
        vertical-align: bottom;
    }

        .avatar.avatar-sl {
            width: 4rem;
            height: 4rem;
        }

    
</style>

<partial name="_UserNavPartial" model="@this.Model" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container ">
    <!-- Begin .page-heading -->
    <div class="page-heading mt-1">
        <div class="media clearfix">
            <div class="media-left pr30">
                @if (isOwner)
                {
                    <a asp-action="Edit" asp-controller="User" asp-area="" asp-route-id="@Model.Id">
                        <span style="background-image: url(@Model.ProfilePicturePath)" class="avatar avatar-xl mr-3"></span>
                    </a>
                }
                else
                {
                    <span style="background-image: url(@Model.ProfilePicturePath)" class="avatar avatar-xl mr-3"></span>
                }

            </div>
            <div class="media-body va-m text-center">
                <h2 class="row media-heading">
                    @Model.FirstName @Model.LastName
                </h2>
                @if (Model.IsConnected || isOwner)
                {
                    <p class="lead">@Model.About</p>
                    <div class="row mb-5">
                        <div class="media-links nav-buttons">
                            <ul class="list-inline list-unstyled">
                                @if (Model.FacoBookLink != null)
                                {
                                    <li>
                                        <a href="@Model.FacoBookLink" title="facebook link">
                                            <span class="fa fa-facebook-square fs35 text-primary"></span>
                                        </a>
                                    </li>
                                }

                                @if (Model.TwitterLink != null)
                                {
                                    <li>
                                        <a href="@Model.TwitterLink" title="twitter link">
                                            <span class="fa fa-twitter-square fs35 text-info"></span>
                                        </a>
                                    </li>
                                }

                                @if (Model.LinkedInLink != null)
                                {
                                    <li class="hidden">
                                        <a href="@Model.LinkedInLink" title="linkedin link">
                                            <span class="fa fa-linkedin-square fs35 text-info"></span>
                                        </a>
                                    </li>
                                }

                                @if (Model.GitHubLink != null)
                                {
                                    <li class="hidden">
                                        <a href="@Model.GitHubLink" title="github link">
                                            <span class="fa fa-github-square fs35 text-dark"></span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div class="row mt-5">
                    @if (Model.TeamId != null)
                    {

                        <div class="media-left pr30">


                            <p><form method="get"><button style="outline" asp-action="Profile" asp-controller="Team" asp-route-id="@Model.TeamId" type="submit" class="btn btn-lg btn-block"> <h3>Member of  @Model.TeamName</h3></button></form></p>


                        </div>
                    }
                    else if (Model.MemberInTeamId != null)
                    {
                        <div class="media-left pr30">
                            <p><form method="get"><button style="outline" asp-action="Profile" asp-controller="Team" asp-route-id="@Model.MemberInTeamId" type="submit" class="btn btn-block"> <h3>Member of  @Model.MemberInTeamName</h3></button></form></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @if (Model.IsConnected || isOwner)
    {
        <div class="row">

            <div class="col-md-4">
                @if (Model.Connections.Count != 0)
                {

                    <div class="panel">
                        @if (isOwner)
                        {
                            <a class="btn" asp-action="All" asp-controller="Connection" asp-route-userId="@Model.Id">All</a>

                        }
                        <span class="panel-title">Connections</span>

                        <div>

                            @foreach (var connection in Model.Connections)
                            {
                                <a asp-action="Profile" asp-controller="User" asp-area="" asp-route-id="@connection.InterlocutorId">
                                    <span style="background-image: url(@connection.InterlocutorProfilePicturePath)" class="avatar avatar-sl mr-3"></span>

                                </a>
                            }
                        </div>
                    </div>

                }

                @if (Model.CreatedRaces.Count != 0)
                {
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon">
                                <i class="fa fa-trophy"></i>
                            </span>
                            <span class="panel-title">Races I add</span>
                        </div>
                        <div class="panel-body pn">
                            <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                                <thead>
                                    <tr class="hidden">
                                        <th class="mw30">#</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                        @foreach (var race in Model.CreatedRaces)
                                        {
                                            <tr>
                                                <th scope="row">@(count += 1)</th>
                                                <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Race" asp-route-id="@race.Id">@race.Name</a></td>
                                                <td>@race.Date</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

                @if (Model.CreatedRides.Count != 0)
                {
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="panel-title">Rides I add</span>
                        </div>
                        <div class="panel-body pn">
                            <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                                <thead>
                                    <tr class="hidden">
                                        <th class="mw30">#</th>
                                        <th>Name</th>

                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count1 = 0;
                                        @foreach (var ride in Model.CreatedRides)
                                        {
                                            <tr>
                                                <th scope="row">@(count1 += 1)</th>
                                                <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.Id">@ride.Name</a></td>

                                                <td>@ride.Date</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
                <div class="tab-block">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Races</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">Rides</a>
                        </li>
                    </ul>
                    <div class="tab-content p30" style="height: 730px;">
                        <div id="tab1" class="tab-pane active">
                            <div class="media">
                                @if (Model.Traces.Count != 0)
                                {
                                    <h3>Races I'm Registered in</h3>

                                    @foreach (var raceTrace in Model.Traces)
                                    {
                                        <a class="pull-left"> <img class="media-object mn thumbnail mw50" src="@raceTrace.LogoPaht"> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mb20">
                                                <a asp-action="Profile" asp-controller="Race" asp-route-id="@raceTrace.RaceId" style="outline" class="btn btn-lg btn-block">@raceTrace.RaceName  , @raceTrace.TraceName</a>

                                                <small> - @raceTrace.TraceStartTime</small>
                                            </h5>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @if (isOwner)
                                    {
                                        <h3>You are not yet registered for any race!</h3>
                                        <a asp-action="All" asp-controller="Race">Why don't you register for a race ?</a>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            Too good for any race!
                                        </div>
                                        <div class="wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
                                                <title>You have no connections yet</title>
                                                <g id="Layer_12 yellow-back-fig" data-name="Layer 12">
                                                    <path class="cls-1" d="M600.87,872H156a4,4,0,0,0-3.78,4.19h0a4,4,0,0,0,3.78,4.19H600.87a4,4,0,0,0,3.78-4.19h0A4,4,0,0,0,600.87,872Z" />
                                                    <rect class="cls-1" x="680.91" y="871.98" width="513.38" height="8.39" rx="4.19" ry="4.19" />
                                                    <path class="cls-1" d="M1480,876.17h0c0,2.32,2.37,4.19,5.3,4.19h350.61c2.93,0,5.3-1.88,5.3-4.19h0c0-2.32-2.37-4.19-5.3-4.19H1485.26C1482.33,872,1480,873.86,1480,876.17Z" />
                                                    <rect class="cls-1" x="492.21" y="920.64" width="249.8" height="8.39" rx="4.19" ry="4.19" />
                                                    <path class="cls-1" d="M1549.14,924.84h0a4.19,4.19,0,0,0-4.19-4.19H1067.46a14.66,14.66,0,0,1,.35,3.21v1A4.19,4.19,0,0,0,1072,929h472.94A4.19,4.19,0,0,0,1549.14,924.84Z" />
                                                    <path class="cls-1" d="M865.5,924.84h0a4.19,4.19,0,0,0,4.19,4.19h82.37a12.28,12.28,0,0,1-.19-2v-2.17a4.19,4.19,0,0,0-4.19-4.19h-78A4.19,4.19,0,0,0,865.5,924.84Z" />
                                                    <rect class="cls-1" x="915.6" y="981.47" width="54.72" height="8.39" rx="4.19" ry="4.19" />
                                                    <path class="cls-1" d="M730.33,985.67h0c0,2.32,4.23,4.19,9.44,4.19h104.3c5.22,0,9.44-1.88,9.44-4.19h0c0-2.32-4.23-4.19-9.44-4.19H739.78C734.56,981.47,730.33,983.35,730.33,985.67Z" />
                                                    <rect class="cls-1" x="997.06" y="981.47" width="78.11" height="8.39" rx="4.19" ry="4.19" />

                                                    <g id="round-conf">
                                                        <path class="cls-1 circle c1" d="M536.41,155.14a17.77,17.77,0,1,0,17.77,17.77A17.77,17.77,0,0,0,536.41,155.14Zm0,28.68a10.9,10.9,0,1,1,10.9-10.9A10.9,10.9,0,0,1,536.41,183.81Z" />
                                                        <path class="cls-1 circle c2" d="M1345.09,82.44a17.77,17.77,0,1,0,17.77,17.77A17.77,17.77,0,0,0,1345.09,82.44Zm0,28.68a10.9,10.9,0,1,1,10.9-10.9A10.9,10.9,0,0,1,1345.09,111.12Z" />
                                                        <path class="cls-1 circle c3" d="M70.12,363A17.77,17.77,0,1,0,87.89,380.8,17.77,17.77,0,0,0,70.12,363Zm0,28.68A10.9,10.9,0,1,1,81,380.8,10.9,10.9,0,0,1,70.12,391.7Z" />
                                                        <path class="cls-1 circle c4" d="M170.47,751.82a17.77,17.77,0,1,0,17.77,17.77A17.77,17.77,0,0,0,170.47,751.82Zm0,28.68a10.9,10.9,0,1,1,10.9-10.9A10.9,10.9,0,0,1,170.47,780.5Z" />
                                                        <path class="cls-1 circle c5" d="M1457.34,762.73a17.77,17.77,0,1,0,17.77,17.77A17.77,17.77,0,0,0,1457.34,762.73Zm0,28.68a10.9,10.9,0,1,1,10.9-10.9A10.9,10.9,0,0,1,1457.34,791.4Z" />
                                                        <path class="cls-1 circle c6" d="M1829.15,407.49a17.77,17.77,0,1,0,17.77,17.77A17.77,17.77,0,0,0,1829.15,407.49Zm0,28.68a10.9,10.9,0,1,1,10.9-10.9A10.9,10.9,0,0,1,1829.15,436.17Z" />
                                                    </g>
                                                </g>


                                                <g id="clock" data-name="Layer 8">

                                                    <circle class="cls-5" cx="847.7" cy="247.59" r="74.66" transform="translate(-32.91 314.05) rotate(-20.6)" />
                                                    <circle class="cls-1" cx="847.7" cy="247.59" r="63.44" transform="translate(-32.91 314.05) rotate(-20.6)" />
                                                    <rect class="cls-3 clock-hand-1" x="845" y="189.5" width="6.04" height="58" rx="3.02" ry="3.02" />
                                                    <rect class="cls-3 clock-hand-2" x="845" y="209.5" width="6.04" height="38" rx="3.02" ry="3.02" transform="translate(1611.22 -230.4) rotate(130.4)" />
                                                    <circle class="cls-3" cx="847.7" cy="247.59" transform="translate(-32.91 314.05) rotate(-20.6)" r="3" />
                                                </g>

                                                <g id="bike" data-name="Layer 5">
                                                    <path class="cls-8 wheel" d="M1139.82,780.44a76.59,76.59,0,1,0-57.9,91.53A76.59,76.59,0,0,0,1139.82,780.44Zm-28.12,6.33a47.59,47.59,0,0,1,.83,15.8c-30.14-6.28-47.68-21.65-54.39-52.52A47.73,47.73,0,0,1,1111.69,786.77Zm-70.46-30.9c10.35,26.88,10.14,50.4-13.73,70.77a47.67,47.67,0,0,1,13.73-70.77Zm34.35,88a47.55,47.55,0,0,1-34.94-5.62c16.8-20.36,41.71-25.94,67.09-19.46A47.66,47.66,0,0,1,1075.58,843.85Z" />
                                                    <path class="cls-8 wheel" d="M864.89,789.69a76.59,76.59,0,1,0-66.13,85.78A76.59,76.59,0,0,0,864.89,789.69Zm-28.59,3.7a47.59,47.59,0,0,1-.64,15.81c-29.43-9-45.47-26-49.3-57.33A47.73,47.73,0,0,1,836.3,793.39ZM769,756.1c7.82,27.72,5.43,51.12-20.22,69.2A47.67,47.67,0,0,1,769,756.1Zm26.06,90.78a47.55,47.55,0,0,1-34.27-8.83c18.61-18.72,43.93-22,68.6-13.16A47.66,47.66,0,0,1,795.06,846.88Z" />
                                                    <g>
                                                        <rect class="cls-1" x="871.39" y="693.37" width="12.87" height="53.21" transform="translate(-165.97 273.38) rotate(-16.19)" />
                                                        <path class="cls-5" d="M813.93,679.35c-3.72-5.2,2.24-18.5,9.16-16.13,33.43,11.46,73.85,10.45,73.85,10.45,8.84.15,14.44,10.34,7.27,15.48-14.36,8.79-33.13,17-56.35,9.76C830.17,693.41,819.83,687.6,813.93,679.35Z" />
                                                        <path class="cls-7" d="M813.93,679.35c-3.72-5.2,2.24-18.5,9.16-16.13,33.43,11.46,73.85,10.45,73.85,10.45,8.84.15,14.44,10.34,7.27,15.48-14.36,8.79-33.13,17-56.35,9.76C830.17,693.41,819.83,687.6,813.93,679.35Z" />
                                                        <path class="cls-5" d="M817.15,680.06c-3.59-5,1.69-16.51,8.37-14.22,32.3,11.09,71.41,7.83,71.41,7.83,8.54.14,17.45,9.94,7.43,15.88-13.87,8.51-32,16.44-54.44,9.44C832.84,693.67,822.85,688,817.15,680.06Z" />
                                                    </g>
                                                    <g>
                                                        <circle class="cls-9" cx="1022.66" cy="599.55" r="11.57" transform="translate(-4.86 8.38) rotate(-0.47)" />
                                                        <path class="cls-1" d="M1069.76,792.37l-34.89-96.74,1.93-.8-1.71-4.15-1.74.72-13.26-36.76,1.27-.42-2.25-6.76,5.94-2-2.57-7.72-9.7,3.22c-11.55-22.55,2-36.33,15-41.86l-5.57-8.81c-23,10.29-29.61,28.75-19.53,54l-9.38,3.12,2.56,7.72,5.47-1.82,2.25,6.76,2.36-.78,13.62,37.76-2.35,1,1.71,4.15,2.16-.89,34.65,96.09a7.47,7.47,0,0,0,9.56,4.49h0A7.47,7.47,0,0,0,1069.76,792.37Z" />
                                                        <circle class="cls-11" cx="1027.9" cy="587.94" r="12.99" transform="translate(-4.77 8.42) rotate(-0.47)" />
                                                    </g>
                                                    <path class="cls-5" d="M1021.29,654l-17.73,6.15,1.72,5.59-31.41,82.36c-19.35,32.53-66.3,36.72-75.56,16.68l-7.09-21.5L879,747.1l3.28,10.09-94.65,33.95c-11.49,2.29-11.85,15.79-2.61,17.84,0,0,39.11,3.66,103,9.5a92.75,92.75,0,0,0,40.89-5.29c44.32-16.56,57.73-50.67,57.73-50.67l26.82-67.26a1.37,1.37,0,0,1,2.53,0l1.42,3.33,17.75-7.62Z" />
                                                    <path class="cls-7" d="M1021.29,654l-17.73,6.15,1.72,5.59-31.41,82.36c-19.35,32.53-66.3,36.72-75.56,16.68l-7.09-21.5L879,747.1l3.28,10.09-94.65,33.95c-11.49,2.29-11.85,15.79-2.61,17.84,0,0,39.11,3.66,103,9.5a92.75,92.75,0,0,0,40.89-5.29c44.32-16.56,57.73-50.67,57.73-50.67l26.82-67.26a1.37,1.37,0,0,1,2.53,0l1.42,3.33,17.75-7.62Z" />
                                                </g>
                                            </svg>
                                        </div>
                                    }
                                }
                            </div>




                        </div>
                        <div id="tab2" class="tab-pane active mt-5">
                            <div class="media">
                                @if (Model.Rides.Count != 0)
                                {
                                    <h3>Rides I'm Registered in</h3>

                                    @foreach (var ride in Model.Rides)
                                    {
                                        <a class="pull-left"> <img class="media-object mn thumbnail mw50" src="@GlobalConstants.RideDefaultImage"> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mb20">
                                                <a asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.RideId" style="outline" class="btn btn-lg btn-block">@ride.RideName</a>

                                                <small> - @ride.RideTraceStartTime</small>
                                            </h5>

                                        </div>
                                    }
                                }
                                else
                                {
                                    @if (isOwner)
                                    {
                                        <h3>You are not yet registered for any ride!</h3>
                                        <a asp-action="All" asp-controller="Ride">Why don't you register for a ride ?</a>
                                    }

                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</section>