@using RaceCorp.Common
@model RaceTraceProfileModel;

@{
    this.ViewData["Title"] = "Trace Profile";

    var currentUserIdClaim = this.User.FindFirst(ClaimTypes.NameIdentifier);
    string currentUserId = null;

    if (currentUserIdClaim != null)
    {
        currentUserId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }

    var hasPassed = DateTime.Parse(Model.StartTime) < DateTime.Now;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<ul class="nav">
    <li class="me-5">
        <h1>@Model.Name</h1>
    </li>
    @if (
    this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
    this.User.IsInRole(GlobalConstants.UserRoleName))
    {
        @if (Model.IsOwner || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="me-2">
                <a class="btn btn-outline-secondary mb-1" asp-controller="Trace" asp-action="EditRaceTrace" asp-route-traceId="@Model.Id" asp-route-raceId="@Model.RaceId">Edit</a>
            </li>
            <li class="me-2">
                <a class="btn btn-outline-secondary mb-1" asp-controller="Trace" asp-action="DeleteRaceTrace" asp-route-traceId="@Model.Id" asp-route-raceId="@Model.RaceId">Delete</a>
            </li>
        }

    }
    <li class="me-2">
        <form method="get">
            <button class="btn btn-outline-info mb-1 btn-block" asp-controller="Trace" asp-action="DownloadGpx" asp-route-id="@Model.GpxId">Download Gpx file</button>
        </form>
    </li>
    @if (Model.HasPassed)
    {
        <li>
            <a class="form-control btn btn-outline-success disabled mb-1">Event has passed! Try it next time!</a>
        </li>
    }
    else if (Model.IsRegistered)
    {
        <li>
            <form method="post" asp-controller="Registration" asp-action="UnregisterRace" asp-route-traceId="@Model.Id" asp-route-userId="@currentUserId" asp-route-id="@Model.RaceId" asp-route-eventType="@GlobalConstants.EventTypeRace">
                <button class="form-control btn btn-outline-danger mb-1" type="submit">Unregister</button>
            </form>
        </li>
    }
    else if (Model.IsRegistered == false && currentUserId != null)
    {
        <li>
            <form method="post" asp-controller="Registration" asp-action="RegisterRace" asp-route-userId="@currentUserId" asp-route-traceId="@Model.Id" asp-route-id="@Model.RaceId" asp-route-eventType="@GlobalConstants.EventTypeRace">
                <button class="form-control btn btn-outline-success mb-1 btn-block" type="submit">Register</button>
            </form>
        </li>
    }
</ul>


<div class="row">
    <div class="map-responsive col-md-5">
        <iframe src="@Model.MapUrl"></iframe>
    </div>
    <div class="col-md-3">

        <div class="card-header">

            Overview
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Difficulty: @Model.Difficulty</li>
            <li class="list-group-item">Length: @Model.Length km.</li>
            <li class="list-group-item">Control time: @Model.ControlTime h</li>
            <li class="list-group-item">Start time: @Model.StartTime</li>
            <li class="list-group-item">Race name: @Model.RaceName</li>
        </ul>
    </div>
    <div class="col-md-2">
        @if (Model.RegisteredUsers.Count() != 0)
        {
            <h6>Registered riders</h6>

            <div class="scrollable-ride">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <td scope="col">Racer</td>
                            <td scope="col">Team</td>
                            <td scope="col">Town</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            @foreach (var user in Model.RegisteredUsers)
                            {
                                user.ApplicationUserMemberInTeamName = user.ApplicationUserMemberInTeamName == null ? "none" : user.ApplicationUserMemberInTeamName;

                                <tr>
                                    <th scope="row">@(count += 1)</th>
                                    <td><a type="button" style="outline" class="btn btn-block" asp-area="" asp-action="Profile" asp-controller="User" asp-route-id="@user.ApplicationUserId">@user.ApplicationUserFirstName @user.ApplicationUserLastName</a></td>
                                    <td class="text-center">@user.ApplicationUserMemberInTeamName</td>
                                    <td class="text-center">@user.ApplicationUserTownName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>





