@using RaceCorp.Common
@model RaceCorp.Web.ViewModels.Team.TeamProfileViewModel

@{
    var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@if (this.TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@this.TempData["ErrorMessage"]</div>
}

@if (this.TempData.ContainsKey("Joined"))
{
    <div class="alert alert-success">@this.TempData["Joined"]</div>
}

@if (this.TempData.ContainsKey("TeamLeave"))
{
    <div class="alert alert-success">@this.TempData["TeamLeave"]</div>
}

<div class="row">
</div>


@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || Model.CurrentUserIsOwner)
{
    <a class="btn btn-outline-secondary form-control" asp-action="Edit" asp-controller="Team" asp-route-teamId="@Model.Id" asp-route-teamOwnerId="@Model.ApplicationUserId">
        Edit
    </a>

    <a class="form-control btn btn-outline-danger" asp-action="RemoveTeamMember" asp-controller="Team" asp-route-teamId="@Model.Id" asp-route-teamOwnerId="@Model.ApplicationUserId">
        Remove Team Member
    </a>
}

<div class="about-section">


    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>@Model.TownName</p>
    @if (Model.IsMember == false && Model.RequestedJoin == false)
    {
        <form method="post">
            <button class="mailbox form-control" asp-action="Join" asp-controller="Team" asp-route-targetId="@Model.Id" asp-route-type="@GlobalConstants.RequestTypeTeamJoin" asp-route-requesterId=@currentUserId>
                Join
            </button>
        </form>
    }
    else if (Model.IsMember)
    {
        <form method="post">
            <button class="mailbox form-control" asp-action="Leave" asp-controller="Team" asp-route-targetId="@Model.Id" asp-route-type="@GlobalConstants.RequestTypeTeamLeave" asp-route-requesterId=@currentUserId>
                Leave team
            </button>
        </form>
    }
    else if (Model.RequestedJoin)
    {
        <button class="mailbox form-control">
            Join request send
        </button>
    }

</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    @foreach (var teamMember in Model.TeamMembers)
    {
        <div class="column">
            <div class="card">
                <img src="@teamMember.ProfilePicturePath" alt="@teamMember.FirstName" class="my-image mt-4" style="width:100%">
                <div class="container">
                    <h2>@teamMember.FirstName @teamMember.LastName</h2>

                    <p><form method="get"><button asp-action="Profile" asp-controller="User" asp-area="" asp-route-id="@teamMember.Id" type="submit" class="button">Profile</button></form></p>

                </div>
            </div>
        </div>
    }

</div>