@using RaceCorp.Common;
@using RaceCorp.Data.Models.Enums

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #EACFC9;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 50px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #4D4745;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        media screen and (max-height: 450px) {
            .sidenav
        {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }

        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-container me-auto mb-2 mb-lg-0">
                        @if (
                        this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
                        this.User.IsInRole(GlobalConstants.UserRoleName))
                        {

                            <li class="nav-item">
                                <a class="btn btn-outline-success" asp-area="" asp-action="Profile" asp-controller="User" asp-route-id="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">Profile</a>
                            </li>

                        }
                    </ul>
                    @*  <ul class="navbar-nav navbar-container me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <form method="post" class="navbar-form collapse d-flex" asp-action="Search" asp-controller="Search" asp-area="">
                    <select name="Area" asp-items="Html.GetEnumSelectList<SearchCategory>()" class="form-select">
                    </select>
                    <input name="QueryInput" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                    </button>
                    </form>
                    </li>
                    </ul>*@

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        @if (
        this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
        this.User.IsInRole(GlobalConstants.UserRoleName))
        {


            <form method="post" class="navbar-form collapse d-flex" asp-action="Search" asp-controller="Search" asp-area="">
                <select name="Area" asp-items="Html.GetEnumSelectList<SearchCategory>()" class="form-select">
                </select>
                <input name="QueryInput" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>


            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AllUsers">Users</a>


            <a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="All">Teams</a>

        }

        <a class="dropdown-item" asp-area="" asp-controller="Ride" asp-action="All">Rides</a>


        <a class="dropdown-item" asp-area="" asp-controller="Race" asp-action="All">Races</a>


        <a class="dropdown-item" asp-area="" asp-controller="Town" asp-action="All">Towns</a>


        <a class="dropdown-item" asp-area="" asp-controller="Mountain" asp-action="All">Mountains</a>


        <a class="dropdown-item" asp-area="" asp-controller="Race" asp-action="UpcomingRaces">Upcoming Races</a>


        <a class="dropdown-item" asp-area="" asp-controller="Ride" asp-action="UpcomingRides">Upcoming Rides</a>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) ||
        this.User.IsInRole(GlobalConstants.UserRoleName))
        {

            <a class="dropdown-item" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>

            <a class="dropdown-item" asp-area="" asp-controller="Ride" asp-action="Create">Create Ride</a>

            <a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="Create">Create Team</a>


        }

    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main id="main" role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a class="me-2" asp-area="" asp-controller="home" asp-action="privacy">Privacy</a> <a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
        </div>
    </footer>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
