@model RideAllViewModel

@if (Model.RacesCount == 0)
{
    <div class="card text-center">
        <div class="card-header">
            Opss..
        </div>
        <div class="card-body">
            <h5 class="card-title">There are no rides yet!</h5>
            <p class="card-text">Why don't you add one ?</p>
            <a asp-action="Create" asp-controller="Ride" class="btn btn-secondary">Create ride</a>
        </div>
        <div class="card-footer text-muted">
            @DateTime.UtcNow
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var ride in this.Model.Rides)
        {
            <div class="column">
                <div class="card">
                    <div class="map-responsive-Card">
                        <iframe src="@ride.TraceMapUrl"></iframe>
                    </div>
                    <div class="container">
                        <p>
                            <b> @ride.Description</b>
                        </p>

                        <a class="btn btn-outline-secondary" asp-controller="Ride" asp-action="Profile" asp-route-id="@ride.Id"><h5>@ride.Name</h5></a>
                        <p>@ride.TraceStartTime</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
}